{%extends "layout.html"%}
{%block content%}
<div class="input-group">
  <select class="form-control">
    <option>Select Workout</option>
    <option>Bench Press</option>
    <option>Squat</option>
    </optgroup>
  </select>
  <button class="btn btn-primary" type="submit" id='workoutSubmit'><i class="fa fa-check" aria-hidden="true"></i></button>
</div>

<div class="container" id="mainForm">
  <div class="form-row" id="workoutForm">
    <div class="col">
      <label for="sets">Sets</label>
      <input type="text" class="form-control" placeholder="1,2,3...">
    </div>
    <div class="col">
      <label for="Reps">Reps</label>
      <input type="text" class="form-control" placeholder="10,8,6...">
    </div>
    <div class="col">
      <label for="Weight">Weight</label>
      <input type="text" class="form-control" placeholder="225,185,135...">
    </div>
  </div>
</div>


{%endblock%}
