<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="login.js"></script>
    <title></title>
  </head>
  <body>

    <div class="form-group">
      <label class="col-form-label" for="formGroupExampleInput">Workout</label>
      <input type="text" class="form-control" id="workout" placeholder=" . . this is going to be a drop down list">
      <label class="col-form-label" for="formGroupExampleInput2">Sets:</label>
      <input type="text" class="form-control" id="sets" placeholder="you can add each set individually or all at once">
      <label class="col-form-label" for="formGroupExampleInput2">Reps:</label>
      <input type="text" class="form-control" id="reps" placeholder="you can add each set individually or all at once">
      <label class="col-form-label" for="formGroupExampleInput2">Weight:</label>
      <input type="text" class="form-control" id="weight" placeholder="you can add each set individually or all at once">
      <button class="btn btn-lg btn-primary btn-block" type="submit" onclick= "workoutFunction()">Save</button>
    </div>
  </body>
</html>
