{%extends "layout.html"%}
{%block content%}

<div class="container" id="signUpcontainer">
  <h4>Sign up for free!</h4>
  <div class="input-group">
    <input type="text" class="form-control" id="newEmail" placeholder="Email...">
  </div>
  <div class="input-group">
    <input type="password" class="form-control" id="newPassword" placeholder="Password...">
  </div>
  <div class="input-group">
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="newSignUp">Create My Account</button>
  </div>
</div>

{%endblock%}
