#jumbo-override {
  background-image: url('img1.jpg');
  background-size: cover;
}

.bg-light {
    background-color: #32353a!important;
}

.navbar-default {
  background-image: none;
  background: #181d26;
  background-repeat: no-repeat;
}

.dropdown-menu:after{
  left: auto;
  right: 13px;
}
.dropdown-menu {
  left: auto;
  right: 0;
}

h4{
  color:#32353a;
  text-align: center;
}

.input-group {
  padding-top: 10px;
  padding-bottom: 10px;
}
#signUpcontainer {
  margin: auto;
  padding-top: 100px;
}

h1{
  color:#32353a;
  font-size: 400%;
  text-align: center;
  font-style: oblique;
}
body{
  margin:0;
  padding: 0;
}
pre {
  text-align: center;
  font-family: sans-serif;
  font-size: 150%;
  color:black;
}
.menu-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 47px;
  padding:4px 8px;
  background:skyblue;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 12px;
}
.menu-icon span{
  width:100%;
  height: 4px;
  display: block;
  background: yellow;
  margin:6px 0;
  transition: .5s;
}
.menu-icon.active {
  display: none;
}
.sidebar{
  position: fixed;
  top: 0;
  right:-300px;
  width: 300px;
  height: 70vh;
  background: black;
  transition: .5s;
  border-radius: 20px 0px 0px 20px ;
  opacity: .7;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}
.sidebar.active {
  right:0px;
}
.sidebar .menu {
  margin:0;
  padding: 40px 0;
}
.sidebar .menu li {
  list-style:none;
  font-family: sans-serif;
}
.sidebar .menu li a{
  display: inline-block;
  padding:10px 0;
  text-transform: capitalize;
  color: white;
  font-size: 25px;
  text-decoration: none;
}
.sidebar .menu li a:hover {
  background: skyblue;
  color: yellow;
  border-radius:12px;
}
.social-icon {
  margin:0;
  padding: 0;
  position: absolute;
  bottom: 40px;
  left: 0;
  display: flex;
  width: 190%;
  padding: 0 20px;
  box-sizing: border-box;
}
.social-icon li {
  width: 20%;
  text-align: center;
  list-style: none;
}
.social-icon li a {
  display: block;
  font-size: 40px;
  color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: .5s;
}
.social-icon li a:hover {
  background: skyblue;
  color:yellow;
}
.loginBox {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 950px;
  height: 420px;
  box-sizing: border-box;
  background: rgba(0,0,0,.5);
  border-radius: 12px;
  padding: 0px 40px;
}
h2{
  text-align: center;
  color: yellow;
  font-size: 300%;
}
.loginBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: yellow;
}
.loginBox a {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}
.loginBox input[type="text"]
.loginBox input[type="password"]
{
  border: none;
  border-bottom:1px solid black;
  outline: none;
  height: 40px;
  color: yellow;
}
::placeholder{
  color: black;
}
.loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  border-radius: 20px;
  cursor:pointer;
  width: 50%;
  background: hotpink;
}
.loginBox .button:hover {
  background: yellow;
}
.loginBox a:hover {
  color:yellow;
}
