#jumbo-override {
  background-image: url('img1.jpg');
  background-size: cover;
}

.bg-light {
    background-color: #32353a!important;
}

.navbar-default {
  background-image: none;
  background: #181d26;
  background-repeat: no-repeat;
}

.dropdown-menu:after{
  left: auto;
  right: 13px;
}
.dropdown-menu {
  left: auto;
  right: 0;
}

h4{
  color:#32353a;
  text-align: center;
}

.input-group {
  padding-top: 10px;
  padding-bottom: 10px;
}
#signUpcontainer {
  margin: auto;
  padding-top: 100px;
}
#signIncontainer {
  margin: auto;
  padding-top: 80px;
}

h1{
  color:#32353a;
  font-size: 400%;
  text-align: center;
  font-style: oblique;
}
